In [1]:
import pandas as pd
import numpy as np

Series
Теперь давайте обсудим, а какими объектами оперирует библиотека Pandas. 
Первый - это pandas Series. Она представляет из себя объект, похожий на одномерный массив, но отличительной чертой является наличие индексов. Индекс находится слева, а сам элемент справа.
Синтаксис создания:
pandas.Series(input_data, index, data_type)
-	input_data: ввод в виде списка, константы, массива NumPy, Dict и т. д.
-	index: значения индексов.
-	data_type (опционально): тип данных.

	Создадим небольшую Series по синтаксису выше:
 если кол-во индексов и значений не совпадает, то будет ошибка

In [11]:
a = pd.Series([4, 7, 6, 3, 9],                                          #  если кол-во индексов и значений не совпадает, то будет ошибка
              index=['one', 'two', 'three', 'four', 'five'])
a

one      4
two      7
three    6
four     3
five     9
dtype: int64

In [12]:
a['one']

4

если индексы не указывать, то серия тоже создается

In [13]:
a = pd.Series([4, 7, 6, 3, 9])
a

0    4
1    7
2    6
3    3
4    9
dtype: int64

In [4]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
a.values

array([4, 7, 6, 3, 9], dtype=int64)

In [16]:
a[0]

4

In [15]:
a[1]

7

# DataFrame
Объект DataFrame является табличной структурой данных. В любой таблице всегда присутствуют строки и столбцы. При этом в столбцах можно хранить данные разных типов данных. Столбцами в объекте DataFrame выступают объекты Series, строки которых являются их элементами.

Синтаксис создания:

pandas.DataFrame(input_data, index)
input_data: ввод в виде Dict, 2D массива NumPy, Series и т. д.
index: значения индексов.

In [2]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
})

df

   Age  Country  Gender
0   46    Spain  Female
1   37    Spain  Female
2   44  Germany    Male
3   42  Germany    Male
4   42   France    Male

In [3]:
df['Age']

0    46
1    37
2    44
3    42
4    42
Name: Age, dtype: int64

In [4]:
df.Country

0      Spain
1      Spain
2    Germany
3    Germany
4     France
Name: Country, dtype: object

In [5]:
df[['Country', 'Age']]

   Country  Age
0    Spain   46
1    Spain   37
2  Germany   44
3  Germany   42
4   France   42

In [6]:
df.columns

Index(['Age', 'Country', 'Gender'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
}, index=[5, 4, 6, 3, 2])                                               # задаем свои индексы

df

   Age  Country  Gender
5   46    Spain  Female
4   37    Spain  Female
6   44  Germany    Male
3   42  Germany    Male
2   42   France    Male

In [9]:
df.index = [101, 102, 103, 104, 105]                                    # переписываем текущие индексы на 101, 102 ...
df

     Age  Country  Gender
101   46    Spain  Female
102   37    Spain  Female
103   44  Germany    Male
104   42  Germany    Male
105   42   France    Male

# Считывание данных
В целом, pandas поддерживает все самые популярные форматы хранения данных: csv, excel, sql, html и многое другое, но чаще всего приходится работать именно с csv файлами (comma separated values).

Будем работать с датасетом по оттоку клиентов из банка https://www.kaggle.com/datasets/shubh0799/churn-modelling.

Характеристики каждого клиента:

RowNumber - Номер строки
CustomerId - Уникальный идентификатор клиента
Surname - Фамилия клиента
CreditScore - Кредитная оценка клиента
Geography - Из какой страны клиент
Gender - Пол клиента
Age - Возраст клиента
Tenure - Сколько лет человек является клиентом банка
Balance - Баланс счета
NumOfProducts - Количество открытых продуктов
HasCrCard - Есть ли у клиента кредитная карта
IsActiveMember - Является ли клиент активные участником
EstimatedSalary - Предположительная зарплата клиента
Exited - Уйдет ли человек в отток

In [11]:
df = pd.read_csv('./Churn_Modelling.csv')               # читаем файл .csv
df

In [ ]:
pd.read_csv('./Churn_Modelling.csv', header=1)

In [ ]:
pd.read_csv('./Churn_Modelling.csv', sep=';')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.sample(frac=1)

In [ ]:
df.sample(frac=0.5)

In [ ]:
df.shape

# Первичный анализ данных
Типы данных:

int: целочисленные значения. Пример: 9, 56, 30
float: вещественные значения (с плавающей точкой). Пример: 7.3, 9.0, 45.334
object/str: строковые значения. Пример: ‘hello, world’, ‘50 000’